
<mat-tab-group>
  <mat-tab label="Image">
    <p>

      <button mat-stroked-button [routerLink]="['/photosByEvents', photo.eventType]">
        Back to {{photo.eventType}} category
      </button>

      <img class="responsive" src="{{photo.imageSrc}}">
    </p>
  </mat-tab>
  <mat-tab label="Details">
    <div class="details">
      <h1> Title: {{photo.title}}</h1>
      <h1> Taken at: {{photo.date}}</h1>
      <h1> Category: {{photo.eventType}}</h1>
    </div>
  </mat-tab>
</mat-tab-group>

