

<div class="mat-tab-nav-bar" style="background-color: antiquewhite">
<button mat-button color="primary"  routerLink="/">Blog</button>
<button mat-button routerLink="contact" color="primary">Contact</button>
<button mat-button [matMenuTriggerFor]="galleryMenu" routerLink="photos" color="primary">Gallery</button>
<mat-menu #galleryMenu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="photos"
    [queryParams]="{galleryType: 'dates' }">Dates</button>
  <button mat-menu-item routerLink="photos"
  [queryParams]="{galleryType: 'categories' } ">Categories</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="uploadMenu" color="primary">Upload</button>
<mat-menu #uploadMenu="matMenu" xPosition="after">
  <button mat-menu-item>Upload photos</button>
  <button mat-menu-item>Upload videos</button>
</mat-menu>
</div>

<div>
  <router-outlet></router-outlet>
</div>


<!--<mat-menu #menu ="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span> Redial</span>
  </button>

  <button mat-menu-item disabled>
    <mat-icon> voicemail</mat-icon>
    <span> Check voicemail</span>
  </button>

</mat-menu>
<h4> asdadasd</h4>-->

<!--<div>
<ul >
  <li role="presentation" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}" >
    <a routerLink="/">Blog</a></li>

  <li routerLinkActive="active" >
    <a routerLink="/photos">Servers</a></li>

  <li role="contact" routerLinkActive="active">
    <a routerLink="/articles">Articles</a></li>
</ul>

<div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

</div>-->
